@import "./variables.module.scss";

.section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;

  @media (min-width: 992px) {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }

  @media (min-width: 768px) {
    min-height: 100vh;
  }
}

.date {
  min-width: none;

  @media (min-width: 768px) {
    min-width: 18rem;
  }
}

.bgPrimary {
  background-color: $primary !important;
}

.textPrimary {
  color: $primary !important;
}

.link {
  color: $primary;
  &:hover,
  &:focus,
  &:active {
    color: darken($primary, 15%);
  }
}
